.ppp{
  color: red;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: text;
  animation-duration: 5s;
}
.Nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  animation-name: text;
  animation-duration: 5s;
  margin-bottom: 4%;
}
.Info{
  width: 40%;
  height: 80%;
  border-right: double black 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: text;
  animation-duration: 5s;
}
.contact{
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  animation-name: text;
  animation-duration: 5s;
}
.mobileTitle{
  height: 0%;
  width: 0%;
  opacity: 0;
}
.computer{
  margin-bottom: 65%;
}