.projectHolder{
  height: 80%;
  width: 60%;
  overflow: scroll;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: double black 10px;
  animation-name: text;
  animation-duration: 5s;
}
.projectTitle{
  color: red;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: text;
  animation-duration: 5s;
  animation-name: text;
  animation-duration: 5s;
}
.projectHolder::-webkit-scrollbar {
  display: none;
}
.projectContainer{
  width: 80%;
  height: 40%;
  margin-bottom: 5%;
  animation-name: text;
  animation-duration: 5s;
}
.disclamer{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disclamer p{
  font-size: 70%;
  font-weight: 700;
}

@media screen and (max-width: 600px){
  .projectContainer{
    height: 66%;
    margin: 9%;
  }
}
@media screen and (max-width:600px){
  .projectContainer{
    border-top:double black 10px;
    margin-bottom: 73%;
  }
  .projectHolder{
    border: 0px;
  }
}
@media screen and (max-width:905px){
  .projectContainer{
    margin-bottom: 20%;
  }
}